@charset "UTF-8";

html, body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    background-image: url(img/Green\ Modern\ Minimalist\ Agrifarm\ Company\ Presentation.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-position: fixed;
    height: 500px;
    min-width: 500px;
}

.navegacao {
    display: flex;
    padding: 20px;
    gap: 15px;
    font-size: 20px;
}

li { 
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}